<div class="page-header">
	<h3>Exibindo core_status_parametrizacao</h3>
</div>


<p>
	<strong>Descricao:</strong>
	<%= @core_status_parametrizacao.descricao %>
</p>



<%= link_to 'Editar', edit_core_status_parametrizacao_path(@core_status_parametrizacao) %> |
<%= link_to 'Voltar', core_status_parametrizacaos_path %>

