<div class="page-header">
	<h3>Exibindo core_tipo_dc</h3>
</div>


<p>
	<strong>Descricao:</strong>
	<%= @core_tipo_dc.descricao %>
</p>



<%= link_to 'Editar', edit_core_tipo_dc_path(@core_tipo_dc) %> |
<%= link_to 'Voltar', core_tipo_dcs_path %>

