<div class="page-header">
	<h3>Exibindo core_status_termo_fiel_depositario</h3>
</div>


<p>
	<strong>Descricao:</strong>
	<%= @core_status_termo_fiel_depositario.descricao %>
</p>



<%= link_to 'Editar', edit_core_status_termo_fiel_depositario_path(@core_status_termo_fiel_depositario) %> |
<%= link_to 'Voltar', core_status_termo_fiel_depositarios_path %>

