<div class="page-header">
	<h3>Exibindo core_tipo_unidade</h3>
</div>


<p>
	<strong>Descricao:</strong>
	<%= @core_tipo_unidade.descricao %>
</p>



<%= link_to 'Editar', edit_core_tipo_unidade_path(@core_tipo_unidade) %> |
<%= link_to 'Voltar', core_tipo_unidades_path %>

