<div class="page-header">
	<h3>Exibindo core_status_unidade_carga</h3>
</div>


<p>
	<strong>Descricao:</strong>
	<%= @core_status_unidade_carga.descricao %>
</p>



<%= link_to 'Editar', edit_core_status_unidade_carga_path(@core_status_unidade_carga) %> |
<%= link_to 'Voltar', core_status_unidade_cargas_path %>

