<div class="page-header">
	<h3>Exibindo core_status_selo_fiscal_tipo</h3>
</div>


<p>
	<strong>Descricao:</strong>
	<%= @core_status_selo_fiscal_tipo.descricao %>
</p>



<%= link_to 'Editar', edit_core_status_selo_fiscal_tipo_path(@core_status_selo_fiscal_tipo) %> |
<%= link_to 'Voltar', core_status_selo_fiscal_tipos_path %>

