<div class="page-header">
	<h3>Exibindo core_status_dad</h3>
</div>


<p>
	<strong>Descricao:</strong>
	<%= @core_status_dad.descricao %>
</p>



<%= link_to 'Editar', edit_core_status_dad_path(@core_status_dad) %> |
<%= link_to 'Voltar', core_status_dads_path %>

