<div class="page-header">
	<h3>Exibindo core_status_termo_fd</h3>
</div>


<p>
	<strong>Descricao:</strong>
	<%= @core_status_termo_fd.descricao %>
</p>



<%= link_to 'Editar', edit_core_status_termo_fd_path(@core_status_termo_fd) %> |
<%= link_to 'Voltar', core_status_termo_fds_path %>

