<div class="page-header">
	<h3>Exibindo core_status_processamento</h3>
</div>


<p>
	<strong>Descricao:</strong>
	<%= @core_status_processamento.descricao %>
</p>



<%= link_to 'Editar', edit_core_status_processamento_path(@core_status_processamento) %> |
<%= link_to 'Voltar', core_status_processamentos_path %>

