<div class="page-header">
	<h3>Exibindo core_status_desembaraco</h3>
</div>


<p>
	<strong>Descricao:</strong>
	<%= @core_status_desembaraco.descricao %>
</p>



<%= link_to 'Editar', edit_core_status_desembaraco_path(@core_status_desembaraco) %> |
<%= link_to 'Voltar', core_status_desembaracos_path %>

