<div class="page-header">
	<h3>Exibindo core_tipo_solucao</h3>
</div>


<p>
	<strong>Descricao:</strong>
	<%= @core_tipo_solucao.descricao %>
</p>



<%= link_to 'Editar', edit_core_tipo_solucao_path(@core_tipo_solucao) %> |
<%= link_to 'Voltar', core_tipo_solucoes_path %>

