<div class="page-header">
	<h3>Exibindo core_tipo_documento_eletronico</h3>
</div>


<p>
	<strong>Descricao:</strong>
	<%= @core_tipo_documento_eletronico.descricao %>
</p>



<%= link_to 'Editar', edit_core_tipo_documento_eletronico_path(@core_tipo_documento_eletronico) %> |
<%= link_to 'Voltar', core_tipo_documento_eletronicos_path %>

