<div class="page-header">
	<h3>Exibindo core_tipo_detalhe</h3>
</div>


<p>
	<strong>Descricao:</strong>
	<%= @core_tipo_detalhe.descricao %>
</p>



<%= link_to 'Editar', edit_core_tipo_detalhe_path(@core_tipo_detalhe) %> |
<%= link_to 'Voltar', core_tipo_detalhes_path %>

