<div class="page-header">
	<h3>Exibindo core_uf</h3>
</div>


<p>
	<strong>Sigla:</strong>
	<%= @core_uf.sigla %>
</p>



<%= link_to 'Editar', edit_core_uf_path(@core_uf) %> |
<%= link_to 'Voltar', core_ufs_path %>

